
{% extends 'basee.html' %}
{% load static %}

{% block content %}

		<div id="content-wrapper">
			<div class="container-fluid">
			 <!-- Banner -->
				<div class="row">
					<div class="advertisment-banner col-md-12">
						<img src="{% static 'images/homepage/Ad_banner.jpg' %}" alt="" title="" >
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
				  <!-- Banner Area-->
	<div id="myBtnContainer">
		<div class="col-md-10 p-left">

			<button class="btn" onclick="filterSelection('Places')"><a class="text-dark" href="{% url 'blog' %}">Blogs</a></button>
			<button class="btn" onclick="filterSelection('Real')"><a class="text-dark" href="{% url 'listing' %}">Listing</a></button>
			<button class="btn" onclick="filterSelection('Cars')"><a class="text-dark" href="{% url 'offers' %}">Offers</a></button>
			<button class="btn" onclick="filterSelection('Electronic')"><a class="text-dark" href="{% url 'donation' %}">Donations</a></button>

		</div>
		<div class="text-right radar col-md-2 p-right">
			<a><img src="{% static 'images/icon/reader.png' %}" alt="reader">Aapnu Charotar </a>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="tabby">
		<div class="htitle col-md-6">
		Latest Blogs
		</div>
	</div>
	<div class="htitle text-right col-md-6">
		<a href="#">Show More</a>
	</div>
	<div class="clearfix"></div>
	{% for post in posts %}
	<div class="filterDiv Places">
	  <div class="col-md-3 col-xs-12 ">
		<div class="box">
			<div class="box-img">
				<a href="{% url 'blog_detail' post.pk %}" style="text-decorations:none;"><img src="{{post.image.url}}" class="img" alt="" title="" height="200px" width="200px">
				</a>
			</div>
			<div class="box-heading1">
<!--				<a href="{% url 'blog_detail' post.pk %}" style="text-decorations:none;">{{post.title}}</a>-->
				<div class="box-heading2">
					<i class="fa fa-empire" aria-hidden="true"></i> &nbsp; {{post.category}}
				</div>
			</div>

			<div class="box-heading3 text-center" style="margin-left: 0px;" >
				<a href="{% url 'blog_detail' post.pk %}" style="text-decorations:none; color: #343357; font-weight: 900; ">{{post.title}}</a>
			</div>
		</div>
		</div>
	</div>
	{% endfor %}

				  <!-- container Tab End -->

<div class="tabby">
		<div class="htitle col-md-6">
		Latest Listing
		</div>
	</div>
	<div class="htitle text-right col-md-6">
		<a href="#">Show More</a>
	</div>
	<div class="clearfix"></div>
	{% for listing in listing1 %}
	<div class="filterDiv Places">
	  <div class="col-md-3 col-xs-12 ">
		<div class="box">
			<div class="box-img">
				<a href="{% url 'blog_detail' listing.pk %}" style="text-decorations:none;"><img src="{{listing.image.url}}" class="img" alt="" title="" height="200px" width="200px">
				</a>
			</div>
			<div class="box-heading1">

				<div class="box-heading2">
					<i class="fa fa-empire" aria-hidden="true"></i> &nbsp; {{listing.category}}
				</div>
			</div>

			<div class="box-heading3 text-center" style="margin-left: 0px;" >
				<a href="{% url 'blog_detail' listing.pk %}" style="text-decorations:none; color: #343357; font-weight: 900; ">{{listing.title}}</a>
			</div>
		</div>
		</div>
	</div>
	{% endfor %}

<!--offer start			-->

<div class="tabby">
		<div class="htitle col-md-6">
		Latest Offers
		</div>
	</div>
	<div class="htitle text-right col-md-6">
		<a href="#">Show More</a>
	</div>
	<div class="clearfix"></div>
	{% for offer in offer %}
	<div class="filterDiv Places">
	  <div class="col-md-3 col-xs-12 ">
		<div class="box">
			<div class="box-img">
				<a href="{% url 'offer_detail' offer.pk %}" style="text-decorations:none;"><img src="{{offer.image.url}}" class="img" alt="" title="" height="200px" width="200px">
				</a>
			</div>
			<div class="box-heading1">
				<div class="box-heading2">
					<i class="fa fa-empire" aria-hidden="true"></i> &nbsp; {{offer.Category}}
				</div>
			</div>

			<div class="box-heading3 text-center" style="margin-left: 0px;" >
				<a href="{% url 'offer_detail' offer.pk %}" style="text-decorations:none; color: #343357; font-weight: 900; ">{{offer.name}}</a>
			</div>
		</div>
		</div>
	</div>
	{% endfor %}

{% endblock %}