
{% extends 'basee.html' %}
{% load static %}

{% block content %}

		<div id="content-wrapper">
			<div class="container-fluid">
			 <!-- Banner -->
				<div class="row">
					<div class="advertisment-banner col-md-12">
						<img src="{% static 'images/homepage/Ad_banner.jpg' %}" alt="" title="" >
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
				  <!-- Banner Area-->
	<div id="myBtnContainer">
		<div class="col-md-10 p-left">
			{% for category in categories %}
			<button class="btn" onclick="filterSelection('all')"><a class="text-dark" href="{% url 'blog_cat' category.pk %}">{{category.name}}</button>
<!--			<button class="btn" onclick="filterSelection('Places')"> Places & Events</button>-->
<!--			<button class="btn" onclick="filterSelection('Real')"> Real Estate</button>-->
<!--			<button class="btn" onclick="filterSelection('Cars')"> Cars & Bikes</button>-->
<!--			<button class="btn" onclick="filterSelection('Electronic')"> Electronic</button>-->
<!--			<button class="btn" onclick="filterSelection('Others')"> Others</button>-->
			{% endfor %}
		</div>
		<div class="text-right radar col-md-2 p-right">
			<a><img src="{% static 'images/icon/reader.png' %}" alt="reader">Aapnu Charotar </a>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="tabby">
		<div class="htitle col-md-6">
		Latest Blogs
		</div>
	</div>
	<div class="htitle text-right col-md-6">
		<a href="#">Show More</a>
	</div>
	<div class="clearfix"></div>
	{% for post in posts %}
	<div class="filterDiv Places">
	  <div class="col-md-3 col-xs-12 ">
		<div class="box">
			<div class="box-img">
				<a href="{% url 'blog_detail' post.pk %}" style="text-decorations:none;"><img src="{{post.image.url}}" class="img" alt="" title="" height="200px" width="200px">
				</a>
			</div>
			<div class="box-heading1">
<!--				<a href="{% url 'blog_detail' post.pk %}" style="text-decorations:none;">{{post.title}}</a>-->
				<div class="box-heading2">
					<i class="fa fa-empire" aria-hidden="true"></i> &nbsp; {{post.category}}
				</div>
			</div>

			<div class="box-heading3 text-center" style="margin-left: 0px;" >
				<a href="{% url 'blog_detail' post.pk %}" style="text-decorations:none; color: #343357; font-weight: 900; ">{{post.title}}</a>
			</div>
		</div>
		</div>
	</div>
	{% endfor %}

				  <!-- container Tab End -->
				  <!-- container Recomanded End -->
 <div class="clearfix"></div>
		</br>
<!--#Recommanded Start -->
<div class="clearfix"></div>

<!--#News Start -->
	<div class="htitle col-md-6">
	News
</div>
<div class="htitle text-right col-md-6">
		<a href="/?category=2">Show More</a>
</div>
<section id="demos1">
      <div class="col-md-12">
        <div class="large-12 columns">
          <div class="owl-carousel owl-theme">
            	{% for news in news %}
			  <div class="item">
              <div class="box">
				<div class="box-img">
					<img src="{{news.image.url}}" class="img" alt="" title="" height="200px" width="200px">
				</div>
				<div class="box-heading1">

					<div class="box-heading2">
						<i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; {{news.category}}
					</div>
				</div>
				<div class="box-heading3 text-center" style="margin-left: 0px;" >
				<a href="{% url 'blog_detail' news.pk %}" style="text-decorations:none; color: #343357; font-weight: 900; ">{{news.title}}</a>
			</div>
			</div>
            </div>
			{% endfor %}
          </div>
        </div>
	</div>
</section>
<div class="clearfix"></div>
<!--#News end-->

<!--#Places Start -->
	<div class="htitle col-md-6">
	Place
</div>
<div class="htitle text-right col-md-6">
		<a href="/?category=5">Show More</a>
</div>
<section id="demos1">
      <div class="col-md-12">
        <div class="large-12 columns">
          <div class="owl-carousel owl-theme">
            	{% for places in places %}
			  <div class="item">
              <div class="box">
				<div class="box-img">
					<img src="{{places.image.url}}" class="img" alt="" title="" height="200px" width="200px">
				</div>
				<div class="box-heading1">

					<div class="box-heading2">
						<i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; {{places.category}}
					</div>
				</div>
				<div class="box-heading3 text-center" style="margin-left: 0px;" >
				<a href="{% url 'blog_detail' places.pk %}" style="text-decorations:none; color: #343357; font-weight: 900; ">{{places.title}}</a>
			</div>
			</div>
            </div>
			{% endfor %}
          </div>
        </div>
	</div>
</section>
<div class="clearfix"></div>
<!--#Places end-->

<!--#Food Start -->
	<div class="htitle col-md-6">
	Food
</div>
<div class="htitle text-right col-md-6">
		<a href="/?category=1">Show More</a>
</div>
<section id="demos1">
      <div class="col-md-12">
        <div class="large-12 columns">
          <div class="owl-carousel owl-theme">
            	{% for food in food %}
			  <div class="item">
              <div class="box">
				<div class="box-img">
					<img src="{{food.image.url}}" class="img" alt="" title="" height="200px" width="200px">
				</div>
				<div class="box-heading1">

					<div class="box-heading2">
						<i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; {{food.category}}
					</div>
				</div>
				<div class="box-heading3 text-center" style="margin-left: 0px;" >
				<a href="{% url 'blog_detail' food.pk %}" style="text-decorations:none; color: #343357; font-weight: 900; ">{{food.title}}</a>
			</div>
			</div>
            </div>
			{% endfor %}
          </div>
        </div>
	</div>
</section>
<div class="clearfix"></div>
<!--#Food end-->

<!--#entertainemnt Start -->
	<div class="htitle col-md-6">
	entertainment
</div>
<div class="htitle text-right col-md-6">
		<a href="/?category=4">Show More</a>
</div>
<section id="demos1">
      <div class="col-md-12">
        <div class="large-12 columns">
          <div class="owl-carousel owl-theme">
            	{% for entertainment in entertainment %}
			  <div class="item">
              <div class="box">
				<div class="box-img">
					<img src="{{entertainment.image.url}}" class="img" alt="" title="" height="200px" width="200px">
				</div>
				<div class="box-heading1">

					<div class="box-heading2">
						<i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; {{entertainment.category}}
					</div>
				</div>
				<div class="box-heading3 text-center" style="margin-left: 0px;" >
				<a href="{% url 'blog_detail' entertainment.pk %}" style="text-decorations:none; color: #343357; font-weight: 900; ">{{entertainment.title}}</a>
			</div>
			</div>
            </div>
			{% endfor %}
          </div>
        </div>
	</div>
</section>
<div class="clearfix"></div>
<!--#entertainemnt end-->

<!--	<div class="htitle col-md-6">-->
<!--	Events-->
<!--</div>-->
<!--<div class="htitle text-right col-md-6">-->
<!--		<a href="/?category=3">Show More</a>-->
<!--</div>-->
<!--<section id="demos1">-->
<!--      <div class="col-md-12">-->
<!--        <div class="large-12 columns">-->
<!--          <div class="owl-carousel owl-theme">-->
<!--            	{% for events in events %}-->
<!--			  <div class="item">-->
<!--              <div class="box">-->
<!--				<div class="box-img">-->
<!--					<img src="{{events.image.url}}" class="img" alt="" title="" height="200px" width="200px">-->
<!--				</div>-->
<!--				<div class="box-heading1">-->

<!--					<div class="box-heading2">-->
<!--						<i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; {{events.category}}-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="box-heading3 text-center mx-auto" style="margin-left: 0px;" >-->
<!--				<a href="{% url 'blog_detail' events.pk %}" style="text-decorations:none; color: #343357; font-weight: 900; ">{{events.title}}</a>-->
<!--			</div>-->
<!--			</div>-->
<!--            </div>-->
<!--			{% endfor %}-->
<!--          </div>-->
<!--        </div>-->
<!--	</div>-->
<!--</section>-->
<!--<div class="clearfix"></div>-->
<!--&lt;!&ndash;#event end&ndash;&gt;-->
<div class="clearfix"></div>
<!--#owl Slider End-->

   <!--#Spiner-->
		<div class="spinner">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
   <!--#Spiner-->
	{% endblock %}

<!--			&lt;!&ndash; Sticky Footer &ndash;&gt;-->
<!--			<footer class="sticky-footer col-md-12">-->
<!--			  <div class="container my-auto">-->
<!--				<div class="copyright text-center my-auto">-->

<!--				<div class="footer-info">-->
<!--							<a href="#">About </a> |-->
<!--							<a href="#">Faq’s </a> |-->
<!--							<a href="#">Privacy</a>-->
<!--							<a href="#"> Advertise</a>  |-->
<!--							<a href="#">Term & Conditions </a>-->
<!--							<a href="#">Sitemap  </a>|-->
<!--							<a href="#">Tags  </a>|-->
<!--							<a href="#">Blog</a>-->
<!--						</div>-->
<!--						<div class="copy-right">-->
<!--						<a target="_blank" href="https://www.Aapnucharotar.com"> Aapnu Charotar </a>-->
<!--						</div>-->
<!--				</div>-->
<!--			  </div>-->
<!--			</footer>-->

<!--		</div>-->
<!--      &lt;!&ndash; /.content-wrapper &ndash;&gt;-->
<!--    </div>-->
<!--	</div>-->
<!--    &lt;!&ndash; /#wrapper &ndash;&gt;-->

<!--    &lt;!&ndash; Scroll to Top Button&ndash;&gt;-->
<!--    <a class="scroll-to-top rounded" href="#page-top">-->
<!--      <i class="fas fa-angle-up"></i>-->
<!--    </a>-->

<!--    &lt;!&ndash; Bootstrap core JavaScript&ndash;&gt;-->
<!--    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>-->
<!--    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>-->
<!--    &lt;!&ndash; Core plugin JavaScript&ndash;&gt;-->
<!--    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>-->
<!--   &lt;!&ndash; Page level plugin JavaScript&ndash;&gt;-->
<!--    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>-->
<!--    <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>-->
<!--    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>-->
<!--    &lt;!&ndash; Custom scripts for all pages&ndash;&gt;-->
<!--    <script src="{% static 'js/sb-admin.min.js' %}"></script>-->
<!--	 <script src="{% static 'js/portfolio.js' %}"></script>-->
<!--	 <script src="{% static 'js/you-listing.js' %}"></script>-->
<!--	 <script src="{% static 'js/menurght.js' %}"></script>-->
<!--	 <script src="{% static 'js/crausal1.js' %}"></script>-->
<!--	 <script src="{% static 'js/dropdown.js' %}"></script>-->
<!--	     &lt;!&ndash; Demo scripts for this page&ndash;&gt;-->
<!--   	<script src="{% static 'js/slick.min.js' %}"></script>.-->
<!--	 &lt;!&ndash; Assect scripts for this page&ndash;&gt;-->
<!--	<script src="{% static 'assets/vendors/jquery.min.js' %}"></script>-->
<!--    <script src="{% static 'assets/owlcarousel/owl.carousel.js' %}"></script>-->
<!--	 <script src="{% static 'assets/vendors/highlight.js' %}"></script>-->
<!--    <script src="{% static 'assets/js/app.js' %}"></script>-->

<!--  </body>-->


<!--&lt;!&ndash;   15:44:08 GMT &ndash;&gt;-->
<!--</html>-->
