
{% extends 'basee.html' %}
{% load static %}

{% block content %}

		<div id="content-wrapper">
			<div class="container-fluid">
			 <!-- Banner -->
				<div class="row">
					<div class="advertisment-banner col-md-12">
						<img src="{% static 'images/homepage/Ad_banner.jpg' %}" alt="" title="" >
						<div class="clearfix"></div>
					</div>
				</div>
				  <!-- Banner Area-->
	<div id="myBtnContainer">
		<div class="col-md-10 p-left">
			{% for category1 in lcategories %}
			<button class="btn" onclick="filterSelection('all')"><a class="text-dark" href="{% url 'listing_cat' category1.pk%}">{{category1.name}}</a></button>
<!--			<button class="btn" onclick="filterSelection('Places')"> Places & Events</button>-->
<!--			<button class="btn" onclick="filterSelection('Real')"> Real Estate</button>-->
<!--			<button class="btn" onclick="filterSelection('Cars')"> Cars & Bikes</button>-->
<!--			<button class="btn" onclick="filterSelection('Electronic')"> Electronic</button>-->
<!--			<button class="btn" onclick="filterSelection('Others')"> Others</button>-->
			{% endfor %}
		</div>
		<div class="text-right radar col-md-2 p-right">
			<img src="{% static 'images/icon/reader.png' %}" alt="reader"> Aapnu charotar
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="tabby">
		<div class="col-md-6"></div>
		<div class="htitle col-md-6">
			{% for listing in listing %}
				{% if forloop.first %}
					<h4>{{listing.category}}</h4>
    			{%endif%}
			{% endfor %}
		</div>
	<div class="clearfix"></div>
	{% for listing in listing %}
	<div class="filterDiv Places">
	  <div class="col-md-3 col-xs-12 ">
		<div class="box">
			<div class="box-img">
				<a href="{% url 'list_detail' listing.pk %}" style="text-decorations:none;"><img src="{{listing.image.url}}" class="img" alt="" title="" height="200px" width="200px">
				</a>
			</div>
			<div class="box-heading1">
				<div class="box-heading2">
				<i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; {{listing.category}}
				</div>
			</div>

			<div class="box-heading3 text-center" style="margin-left: 0px;" >
				<a href="{% url 'list_detail' listing.pk %}" style="text-decorations:none; color: #343357; font-weight: 900; ">{{listing.title}}</a>
			</div>
		</div>
		</div>
	</div>
	{% endfor %}
	</div>
</div>

{% endblock %}